apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ service }}-app-secrets
  namespace: placeholder-workload
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: azure-keyvault
  target:
    name: {{ service }}-app-secrets
  data:
    - secretKey: DATABASE_URL
      remoteRef:
        key: {{ service }}-sql-conn
    - secretKey: COSMOS_CONNECTION_STRING
      remoteRef:
        key: {{ service }}-cosmos-conn
    - secretKey: SERVICEBUS_CONNECTION_STRING
      remoteRef:
        key: {{ service }}-sb-conn
