apiVersion: v1
kind: Service
metadata:
  name: {{ service }}
  namespace: placeholder-workload
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  selector:
    app.kubernetes.io/name: {{ service }}
  ports:
    - name: http
      port: 80
      targetPort: http
