apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ service }}
  namespace: placeholder-workload
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  labels:
    app.kubernetes.io/part-of: {{ service }}
