apiVersion: platform.cityos.io/v1alpha1
kind: SQLDatabase
metadata:
  name: {{ service }}-sql
  namespace: placeholder-infra
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  parameters:
    region: {{ primary_region }}
    resourceGroupName: {{ primary_resource_group }}
    serverName: sql-{{ service }}-prod
    sloClass: {{ slo_class }}
    secretName: {{ service }}-sql-conn
    keyVaultWeId: {{ key_vault_we_id }}
    keyVaultNeId: {{ key_vault_ne_id }}
